GRIST_API_KEY=a
GRIST_DOC_ID=a
GRIST_BASE_URL=https://grist.numerique.gouv.fr
GRIST_INVENTORY_TABLE=Inventaire des jeux
GRIST_LOANS_TABLE=Emprunts
# Set to false to use local sample data while designing the UI.
GRIST_ENABLED=false
