GRIST_API_KEY=replace-with-your-grist-api-key
GRIST_DOC_ID=replace-with-your-document-id
GRIST_BASE_URL=https://grist.numerique.gouv.fr
GRIST_INVENTORY_TABLE=Inventaire_des_jeux
GRIST_BOOKS_INVENTORY_TABLE=Inventaire livres albums
GRIST_LOANS_TABLE=Table1
GRIST_ENABLED=true
MANAGER_PASSWORD=changez-ce-mot-de-passe
SMTP_HOST=smtps.ac-nancy-metz.fr
SMTP_PORT=465
SMTP_USER=replace-with-your-academic-email
SMTP_PASSWORD=replace-with-your-mail-password
SMTP_FROM=replace-with-your-academic-email
